In [1]:
from keras.utils import get_file
from sklearn.datasets.lfw import Bunch

In [ ]:
args = Bunch()

In [2]:
DATA_FNAME = 'VCTK-Corpus.tar.gz'
DATA_URL = f'http://homepages.inf.ed.ac.uk/jyamagis/release/{DATA_FNAME}'

In [3]:
get_file(DATA_FNAME, DATA_URL, extract=True)

Downloading data from http://homepages.inf.ed.ac.uk/jyamagis/release/VCTK-Corpus.tar.gz
11159470080/11159466829 [==============================] - 4770s 0us/step

'/home/s_belyaev/.keras/datasets/VCTK-Corpus.tar.gz'

In [13]:
cat /home/s_belyaev/.keras/datasets/VCTK-Corpus/speaker-info.txt

ID  AGE  GENDER  ACCENTS  REGION
225  23  F    English    Southern  England
226  22  M    English    Surrey
227  38  M    English    Cumbria
228  22  F    English    Southern  England
229  23  F    English    Southern  England
230  22  F    English    Stockton-on-tees
231  23  F    English    Southern  England
232  23  M    English    Southern  England
233  23  F    English    Staffordshire
234  22  F    Scottish  West  Dumfries
236  23  F    English    Manchester
237  22  M    Scottish  Fife
238  22  F    NorthernIrish  Belfast
239  22  F    English    SW  England
240  21  F    English    Southern  England
241  21  M    Scottish  Perth
243  22  M    English    London
244  22  F    English    Manchester
245  25  M    Irish  Dublin
246  22  M    Scottish  Selkirk
247  22  M    Scottish  Argyll
248  23  F    Indian
249  22  F    Scottish  Aberdeen
250  22  F    English    SE  England
251  26  M    Indian
252  22  M    Scottish  Edinburgh
253  22  F    Welsh  Cardiff
254  21  M    English    Surrey
255  19  M    Scottish  Galloway
256  24  M    English    Birmingham
257  24  F    English    Southern  England
258  22  M    English    Southern  England
259  23  M    English    Nottingham
260  21  M    Scottish  Orkney
261  26  F    NorthernIrish  Belfast
262  23  F    Scottish  Edinburgh
263  22  M    Scottish  Aberdeen
264  23  F    Scottish  West  Lothian
265  23  F    Scottish  Ross
266  22  F    Irish  Athlone
267  23  F    English    Yorkshire
268  23  F    English    Southern  England
269  20  F    English    Newcastle
270  21  M    English    Yorkshire
271  19  M    Scottish  Fife
272  23  M    Scottish  Edinburgh
273  23  M    English    Suffolk
274  22  M    English    Essex
275  23  M    Scottish  Midlothian
276  24  F    English    Oxford
277  23  F    English    NE  England
278  22  M    English    Cheshire
279  23  M    English    Leicester
281  29  M    Scottish  Edinburgh
282  23  F    English    Newcastle
283  24  F    Irish  Cork
284  20  M    Scottish  Fife
285  21  M    Scottish  Edinburgh
286  23  M    English    Newcastle
287  23  M    English    York
288  22  F    Irish  Dublin
292  23  M    NorthernIrish  Belfast
293  22  F    NorthernIrish  Belfast
294  33  F    American  San  Francisco
295  23  F    Irish  Dublin
297  20  F    American  New  York
298  19  M    Irish  Tipperary
299  25  F    American  California
300  23  F    American  California
301  23  F    American  North  Carolina
302  20  M    Canadian  Montreal
303  24  F    Canadian  Toronto
304  22  M    NorthernIrish  Belfast
305  19  F    American  Philadelphia
306  21  F    American  New  York
307  23  F    Canadian  Ontario
308  18  F    American  Alabama
310  21  F    American  Tennessee
311  21  M    American  Iowa
312  19  F    Canadian  Hamilton
313  24  F    Irish  County  Down
314  26  F    SouthAfrican  Cape  Town
315  18  M    American  New  England
316  20  M    Canadian  Alberta
317  23  F    Canadian  Hamilton
318  32  F    American  Napa
323  19  F    SouthAfrican  Pretoria
326  26  M    Australian  English  Sydney
329  23  F    American
330  26  F    American
333  19  F    American  Indiana
334  18  M    American  Chicago
335  25  F    NewZealand  English
336  18  F    SouthAfrican  Johannesburg
339  21  F    American  Pennsylvania
340  18  F    Irish  Dublin
341  26  F    American  Ohio
343  27  F    Canadian  Alberta
345  22  M    American  Florida
347  26  M    SouthAfrican  Johannesburg
351  21  F    NorthernIrish  Derry
360  19  M    American  New  Jersey
361  19  F    American  New  Jersey
362  29  F    American
363  22  M    Canadian  Toronto
364  23  M    Irish  Donegal
374  28  M    Australian  English
376  22  M    Indian

https://distill.pub/2017/ctc/